<h1>New Comment</h1>


<h2>Reply to</h2>

<% if @parent %>
    <%= render CommentComponent.new(comment: @parent, user: current_user, reactable: false, open: true) %>
<% end %>

<%= render 'form', comment: @comment %>

