<%=  form_with(
  url: url_for([ "vote", @voteable ]),
  class: :voter,
  data: {
    controller: "prevent-default",
    action: "prevent-default#preventDefault",
  },
  id: dom_id(@voteable, :vote),
  local: true,
) do |f| %>

<%= tag.button "ðŸ‘", {
  class: voted?&.up? ? "active" : "",
  name: :direction,
  value: (voted?&.up? ? :none : :up),
  data: {
    voteable: @voteable.to_global_id.to_s,
    reflex: "click->Vote#vote",
  },
} %>

 <span><%= @voteable.votes_sum %></span>

 <%= tag.button "ðŸ‘Ž", {
   class: voted?&.down? ? "active" : "",
   name: :direction,
   value: (voted?&.down? ? :none : :down),
   data: {
     voteable: @voteable.to_global_id.to_s,
     reflex: "click->Vote#vote",
   },
 } %>

  <% end %>
