@import 'colors';

.field, .actions {
  display: grid;
  justify-content: begin;
  grid-template-columns: 2em auto;

  label {
    color: $fg;
    font-weight: bold;
    padding: 0.5em 0em;
  }

  label, trix-toolbar, trix-editor, .map {
    grid-column: 1 / 3;
  }

  input, textarea  {
    border: 0.1em solid $fg;
    border-radius: 0.2em;
    color: $fg;
    font-size: 1em;
    padding: 0.5em 1em 0.5em;
    resize: vertical;
    outline: none;
    justify-self: stretch;
    grid-column: 1 / 3;
  }

  input[type=checkbox] {
    grid-column: 1 / 2;
    + label {
      grid-column: 2 / 3;
    }
  }

  // transition-property: background-color, height;
  transition-property: all;
  transition-duration: 300ms;
  
  > span {
    transition-property: height;
    transition-property: all;
    transition-duration: 300ms;
    height: 0;
  };
}

.field, .actions {
  max-width: 80ch;
  margin: 1em;
  padding: 0.5em;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.field.error {
  input, textarea, .leaflet-container {
    border-color: $error;
  }

  background-color: $error-light;
  color: $error-dark;
  border-radius: 0.2em;
  > span {
    height: auto;
  }
}

