@import 'colors';

a {
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: $fg ;
    cursor: pointer;

}

a:hover {
    background-color: transparent;
    color: $button-fg;
    text-decoration: underline;
    text-decoration-color: $button-bg;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;

  }

li {
    float: left;
    margin-right: 50px;
  }

footer {
  position: relative;
  bottom: 0;
}

textarea {
  resize: none;
  width: auto;
  height: 10em;
}

@media (pointer: coarse) {
  .page-content a {
    padding: 0.5rem;
    background: radial-gradient($bg, darken($color: $bg, $amount: 5));
  }

  .map a {
    padding: unset;
    background: unset;
  }
}
