
a {
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: #102F9E ; /*change this to bg after succesful merge*/
    cursor: pointer;

}
a:hover {
    background-color: transparent;
    color: #102F9E;
    text-decoration: underline;
    text-decoration-color: #ffe000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;

  }

li {
    float: left;
    margin-right: 50px;
  }
