@import 'colors';

.page_content{
  margin-top: 50px;
  /*
  add all the margins you want.
  */
}


a {
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: $fg ;
    cursor: pointer;

}
a:hover {
    background-color: transparent;
    color: #102F9E;
    text-decoration: underline;
    text-decoration-color: $bg;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;

  }

li {
    float: left;
    margin-right: 50px;
  }
