@import 'colors';

$nav-bar-height: 4rem;

body {
  padding-top: $nav-bar-height;
}

nav{
  display:  flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  height: $nav-bar-height;
  background: #2d3436;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logo h1{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  margin-left: 2em;
  flex-grow: 1;
}

.nav-links{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
}

.search {

  margin-right: 2em;

}
.nav-links ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li{
  list-style: none;
  justify-content: flex-end;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 0.13em;
  font-weight: bold;

}

.nav-links a:hover {
    text-decoration: underline;
    text-decoration-color: $button-bg;
    transition-duration: 0.4s;
}


label {
  display: none;
  cursor: pointer;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 100%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0em;
    height: 9em;
    top: 5em;
    background-color: #2d3436;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 38%;
    transform: translateX(100%);
    transition: transform 0.6s ease-in;
    border: 0.1em hidden #1d2d35;
    border-radius: 0.25em;
  }
  .nav-links ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav-links li{
    padding: inherit;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 1em;
    right: 2em;
  }

  .search {
    position: fixed;
    left: -1000em;
   }

  .menu-icon {
    width: 5em;
    height: inherit;
    display: flex;
    position: relative;
    color: white;
  }

  #menuToggle:checked ~ .nav-links {
    transform: translateX(0%);

    li {
      opacity: 1;
      transform: translateX(0em);
    }
  }
  .menu-icon i {
        font-size: 1.7em;
    }
}
