@import 'colors';

.navbar {
  display:  inline-block;
  list-style-type: none;
  overflow: hidden;
  background-color: $button-fg;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.navbar a {
  float: left;
  display: table;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #273c75;
  color: $button-bg;
  text-decoration-line: underline;
  text-decoration-color: $button-bg;
  transition-duration: 0.6s;
}
