// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'colors';

h1, {
  color: $fg;
  padding: 1em 0em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
}

h2 {
  color: $fg;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

.posts {
  display: grid | inline-grid;
  margin-top: 1em;
}

.post-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.1em groove #1d2d35;
  border-radius: 0.25em;
  margin-bottom: 2em;
  justify-content: space-around;
}
