@import 'colors';

.profile-page {
  display: grid;
  max-width: 150ch;
  margin: 0 auto;

  .comment-content {
    width: auto;
  }
}

@media screen and (min-width: 75ch) {
  .profile-page {
    grid-template-columns: 50ch auto;
  }

  .profile {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media screen and (min-width: 125ch) {
  .profile-page {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

.avatar {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  border: 2px solid lighten($color: $fg, $amount: 50%);
  display: grid;
  place-content: center;
}
