<%=  form_with(url: url_for([ "vote", voteable ]), class: :voter) do |f| %>


<%= f.submit("ðŸ‘", {
  class: voted?&.up? ? "active" : "",
  name: :direction,
  value: (voted?&.up? ? :none : :up),
  data: {
    reflex: "Vote#vote"
  }
})
%>

<span><%= @voteable.votes_sum %></span>

<%= f.submit("ðŸ‘Ž", {
  class: voted?&.down? ? "active" : "",
  name: :direction,
  value: (voted?&.down? ? :none : :down),
  data: {
    reflex: "Vote#vote"
  }
})
%>

  <% end %>
