<%=  form_with(url: url_for([ "vote", voteable ]), class: :voter) do |f| %>

  <%= tag :button, "ðŸ‘", {
    class: voted?&.up? ? "active" : "",
    name: :direction,
    value: (voted?&.up? ? :none : :up)
  } %>

 <span><%= @voteable.votes_sum %></span>

<%= tag :button, "ðŸ‘Ž", {
  class: voted?&.down? ? "active" : "",
  name: :direction,
  value: (voted?&.down? ? :none : :down)
} %>

  <% end %>
